.table-Highlight table {
    width: 800px;
    font-family: sans-serif;
    font-weight: 100;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #0000001a;
}

.table-Highlight th,
.table-Highlight td {
    background-color: #ffffff33;
    padding: 15px;
    /*color: #fff;*/
}

.table-Highlight th {
    text-align: left;
}

.table-Highlight thead th {
    background-color: #55608f;
}

.table-Highlight tbody tr:hover {
    background-color: #68656525;
}

.table-Highlight tbody td {
    position: relative;
}

.table-Highlight tbody td:hover::before {
    content: "";
    position: absolute;
    background-color: #68656525;
    height: 200vh;
    left: 0;
    position: absolute;
    top: -100vh;
    width: 100%;
    pointer-events: none;
}